#section-1{

  img{
    position: absolute;
    visibility: 0;
    left: 30%;
    top: 30%;
  }
  
  #blood{
    img{
      position: absolute;
      visibility: 0;
      left: 740px;
      top: 400px;
    }
  }

}